################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mozijegy/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/1c9fd86f-690f-4eec-ad2d-fcdf2cfd9ca3.vsidx
